<!-- /partials/footer.html -->
<footer class="site-footer myss-footer">
  <div class="footer-inner">
    <div class="footer-columns">
      <div class="footer-col footer-col--services">
        <div data-footer-links-services></div>
      </div>

      <div class="footer-col footer-col--info">
        <div data-footer-links-info></div>
      </div>

      <div class="footer-col footer-col--brand">
        <div data-footer-links-brand></div>
      </div>

      <div class="footer-col footer-col--contact">
        <div data-footer-contact>
          <div>
            <h3 class="site-footer__heading">Kontakt</h3>
            <ul class="site-footer__list">
              <li>My Strongest Side AS</li>
              <li>Brages veg 3<br>5221 Nesttun</li>
              <li>E-post: <a href="mailto:post@mystrongestside.no">post@mystrongestside.no</a></li>
              <li>Telefon: <a href="tel:+4741439384">+47 41 43 93 84</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
